.new-expense {
  background-color: #a2bf2d;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  background-color: #211d41;
  color: white;
  margin-top: 1rem;
}

.new-expense button:nth-child(2) {
  margin-left: 10px;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #3d3678;
  border-color: #fff;
}

.new-expense button.alternative {
  color: #272727;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #d2d2d2;
}