.new-expense {
  background-color: #9a9a9a;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  background-color: #2a2a2a;
  color: white;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #6f6f6f;
  border-color: #fff;
}

.new-expense button.alternative {
  color: #272727;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #d2d2d2;
}